* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

button svg, a svg {
  pointer-events: none;
}

ul li {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(0px);
  }
}
:root {
  --yellow: #fdcb35;
  --yellow-dark: #fdc212;
  --yellow-light: #fee59a;
  --yellow-alt-svg: #d4aa2c;
  --title-color: #282725;
  --text-color-light: hsl(45, 4%, 65%);
  --text-color: #5d5b56;
  --footer-background: #fee59a;
  --scrollbar-color: #dadad7;
  --scrollbar-thumb-color: hsl(45, 4%, 85%);
  --body-bg: #fff;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-light: 400;
}

body {
  color: var(--text-color);
  font-weight: var(--font-light);
  overflow-x: hidden;
  background-color: var(--body-bg);
}

/* === Reusable  classes === */
.container, .nav__container, .header__hero {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 0;
}

.section-title {
  color: var(--title-color);
  font-size: 22px;
  font-weight: var(--font-bold);
}

.button, .contact__button-cta, .header__hero__texts-cta {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: var(--yellow);
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: background-color 0.2s ease;
  text-transform: capitalize;
}

.svg-light {
  fill: var(--yellow-light);
}

.yellow-alt-svg {
  fill: var(--yellow-alt-svg);
}

/* === Reusable  classes === */
main svg {
  fill: var(--yellow);
}

.header {
  position: relative;
}
.header__hero {
  padding: 0;
  padding-top: 115px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 45px;
  max-width: 400px;
}
.header__hero__texts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.header__hero__texts-title {
  color: var(--title-color);
  font-weight: var(--font-bold);
  font-size: 33px;
}
.header__hero__texts-paragraph {
  font-weight: var(--font-light);
  line-height: 1.4;
  letter-spacing: 1px;
}
.header__hero__texts-cta {
  width: max-content;
  height: max-content;
}
.header__hero__texts-cta:hover {
  background-color: var(--yellow-dark);
  animation: bounce 0.5s ease;
}
.header__hero svg {
  fill: var(--yellow);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #fff;
  z-index: 20;
  transition: height 0.2s ease;
}
.nav.nav-2 {
  height: 75px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.nav__container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.nav__hamburger {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.nav__hamburger svg {
  fill: var(--title-color);
}
.nav__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  top: 95px;
  background-color: #fff;
  z-index: 50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}
.nav__menu.show-menu {
  transform: translateX(-50%) scale(1);
}
.nav__menu__ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  justify-content: center;
  text-align: center;
}
.nav__menu__ul-link {
  position: relative;
  font-weight: var(--font-bold);
  color: var(--title-color);
  --opacity: 0;
}
.nav__menu__ul-link.active-section {
  --opacity: 1;
}
.nav__menu__ul-link:hover {
  --opacity: 1;
}
.nav__menu__ul-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--title-color);
  transform: translateX(-50%);
  opacity: var(--opacity);
  transition: opacity 0.2s ease;
}
.nav__menu__theme {
  width: 35px;
  height: 20px;
  border: 3px solid var(--title-color);
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.nav__menu__theme-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--title-color);
  pointer-events: none;
}
.nav__menu-cta {
  display: none;
}
.nav-cta {
  display: none;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 70px;
  text-align: center;
  padding-top: 100px;
  max-width: 400px;
}
.about__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
.about__section__texts {
  grid-row: 1/2;
}
.about__section__texts-description {
  font-weight: var(--font-light);
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 15px;
}
.about__section svg {
  width: 90%;
  margin: 0 auto;
}

.services {
  text-align: center;
  max-width: 400px;
}
.services__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}
.services__grid__item {
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  transition: transform 0.2s ease;
}
.services__grid__item:hover {
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
}
.services__grid__item-title {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.services__grid__item-description {
  letter-spacing: 1px;
  line-height: 1.3;
}
.services__grid__item-cta {
  text-transform: capitalize;
  font-weight: var(--font-semi-bold);
  position: relative;
  width: max-content;
  color: var(--title-color);
  display: inline-block;
  margin: 0 auto;
  transition: color 0.2s ease;
  --width: 0;
  --bg: var(--title-color);
}
.services__grid__item-cta:hover {
  color: var(--yellow);
  --width: 100%;
  --bg: var(--yellow);
}
.services__grid__item-cta::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: var(--width);
  height: 2px;
  background-color: currentcolor;
  transition: all 0.2s ease;
}
.services__grid__item__img-img {
  width: 50%;
}

.app {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  max-width: 400px;
}
.app__texts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.app__texts-paragraph {
  line-height: 1.3;
}
.app__texts__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.app__texts__buttons-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2px;
  border-radius: 25px;
  padding: 12px 0;
  font-size: 14px;
  background-color: var(--yellow);
  color: var(--title-color);
  text-transform: capitalize;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.2s ease;
}
.app__texts__buttons-cta:hover {
  animation: bounce 0.5s ease;
  background-color: var(--yellow-dark);
}
.app__texts__buttons svg {
  fill: var(--title-color);
  width: 20px;
}
.app__figure svg {
  width: 90%;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  padding-bottom: 90px;
  max-width: 400px;
}
.contact__item {
  text-align: center;
}
.contact__item-paragraph {
  line-height: 1.3;
  margin-top: 15px;
}
.contact__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.contact__grid-span {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.contact__button-cta {
  transition: background-color 0.2s ease;
}
.contact__button-cta:hover {
  background-color: var(--yellow-dark);
  animation: bounce 0.5s ease;
}

.footer {
  background-color: var(--footer-background);
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  max-width: 400px;
}
.footer__item-title {
  color: var(--title-color);
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer__item-paragraph {
  text-transform: capitalize;
}
.footer__item__ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.footer__item__ul-link {
  transition: color 0.2s ease;
  position: relative;
  --scale: scale(0);
}
.footer__item__ul-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  bottom: -3px;
  left: 0;
  transform: var(--scale);
  transition: transform 0.2s ease;
}
.footer__item__ul-link:hover {
  color: var(--title-color);
  --scale: scale(1);
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 25px;
}
.footer__social__link {
  transition: transform 0.1s ease;
}
.footer__social__link:hover {
  animation: bounce 0.5s ease;
}
.footer__social svg {
  width: 25px;
  fill: var(--title-color);
}

.scroll__button {
  border: none;
  outline: none;
  background-color: var(--yellow);
  position: fixed;
  bottom: -35px;
  right: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.scroll__button.show-button {
  bottom: 30px;
}
.scroll__button:hover {
  animation: bounce 0.5s ease;
  background-color: var(--yellow-dark);
}
.scroll__button svg {
  fill: var(--title-color);
  width: 20px;
  pointer-events: none;
}

@media screen and (min-width: 600px) {
  .header__hero, .about,
  .services, .app, .contact,
  .footer__container {
    max-width: 1100px;
  }
  .header__hero, .about__section,
  .app, .contact,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__hero__image {
    grid-column: 2/3;
    grid-row: 1/-1;
    height: max-content;
    align-self: center;
  }
  .header__hero__texts-title {
    font-size: 28px;
    line-height: 1.5;
  }
  .about {
    text-align: left;
  }
  .about__section__texts {
    height: max-content;
    align-self: center;
  }
  .about__section__texts--first {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .about__section__texts-description {
    letter-spacing: initial;
  }
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__grid__item {
    max-width: 380px;
    justify-self: center;
  }
  .services__grid__item-description {
    letter-spacing: initial;
    color: var(--text-color-light);
  }
  .app {
    text-align: left;
    grid-gap: 20px;
  }
  .app__figure {
    grid-column: 1/2;
    grid-row: 1/2;
    height: max-content;
    align-self: center;
  }
  .app__figure-img {
    width: 90%;
  }
  .app__texts {
    height: max-content;
    align-self: center;
  }
  .app__texts__buttons {
    grid-template-columns: repeat(2, max-content);
  }
  .app__texts__buttons-cta {
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact {
    grid-column-gap: 35px;
  }
  .contact__item {
    text-align: left;
  }
  .contact__grid {
    height: max-content;
    align-self: center;
    font-size: 15px;
  }
  .footer__item__ul-link,
  .footer__item-paragraph {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
  .nav__menu {
    position: relative;
    box-shadow: initial;
    transform: translateX(0) scale(1);
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    height: 100%;
    align-items: center;
    width: max-content;
    max-width: initial;
    padding: 0;
    margin: initial;
    grid-gap: 40px;
  }
  .nav__menu__ul {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    grid-gap: 15px;
  }
  .nav__menu__ul-link {
    font-size: 15px;
  }
  .nav__menu__theme {
    position: relative;
    top: initial;
    right: initial;
  }
}
@media screen and (min-width: 970px) {
  .section-title {
    font-size: 35px;
  }
  .nav-cta {
    display: inline-block;
    text-transform: capitalize;
    color: var(--title-color);
    background-color: var(--yellow);
    font-weight: var(--font-semi-bold);
    padding: 10px 22px;
    border-radius: 25px;
    transition: background-color 0.2s ease;
  }
  .nav-cta:hover {
    background-color: var(--yellow-dark);
  }
  .header__hero {
    grid-gap: 50px;
    padding-top: 180px;
    grid-template-columns: max-content 1fr;
  }
  .header__hero__texts {
    width: 390px;
  }
  .header__hero__texts-title {
    font-size: 50px;
    line-height: 1.3;
  }
  .header__hero__texts-paragraph {
    letter-spacing: initial;
  }
  .header__hero__image {
    width: 100%;
    max-width: 550px;
    justify-self: center;
  }
  .about {
    padding-top: 120px;
  }
  .about__section {
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 850px;
    margin: 0 auto;
  }
  .about__section__figure {
    min-width: 420px;
    max-width: 480px;
    justify-self: center;
  }
  .about__section__figure-img {
    transform: scale(1.1);
  }
  .services__grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .app {
    grid-template-columns: 1fr max-content;
    grid-gap: 80px;
    max-width: 920px;
  }
  .app__texts {
    width: 380px;
  }
  .app__figure-img {
    width: 100%;
  }
  .contact {
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    grid-gap: 80px;
    max-width: 900px;
  }
  .contact__button {
    height: max-content;
  }
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  .scroll__button {
    right: 60px;
  }
  .scroll__button.show-button {
    bottom: 50px;
  }
}
body.dark-mode {
  --body-bg: #24221e;
  --title-color: #f3f3f2;
  --text-color: #cdc3ca;
  --text-color-light: #cdc3ca;
  --footer-background: #2c2a26;
}
body.dark-mode .button, body.dark-mode .header__hero__texts-cta, body.dark-mode .contact__button-cta,
body.dark-mode .nav-cta,
body.dark-mode .app__texts__buttons-cta {
  color: #282725;
}
body.dark-mode .app__texts__buttons-cta svg,
body.dark-mode .scroll__button svg {
  fill: #282725;
}
body.dark-mode .nav {
  background-color: var(--footer-background);
}
body.dark-mode .nav__menu {
  background-color: var(--footer-background);
}
body.dark-mode .nav__menu__theme {
  justify-content: flex-end;
}
body.dark-mode .services__grid__item {
  background-color: #2c2a26;
}

/*# sourceMappingURL=styles.css.map */
